body {
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.hero {
  position: relative;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.hero h1 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 10px;
}

.hero p {
  color: #fff;
  font-size: 20px;
}

.hero .btn {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar {
  background-color: #fff;

  border-bottom: 1px solid #ccc;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar a {
  color: #000;
  text-decoration: none;
}
